{% extends "../master.html" %}
{% block title %} Home {% endblock %}
    {% block content %}
    <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="height: 600px;">
        <div class="carousel-inner h-100">
            <div class="carousel-item active h-100"><img class="object-fit-cover w-100 d-block position-absolute" src="assets/img/iphone_17__ck7zzemcw37m_large_2x.jpg" alt="Slide Image" style="z-index: -1;">
                <div class="container d-flex h-100 flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 offset-md-2">
                            <div style="max-width: 350px;">
                                <h1 class="text-uppercase fw-bold">Biben dum<br>fringi dictum, augue purus</h1>
                                <p class="my-3">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien, risus donec ad fusce augue interdum.</p><a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a><a class="btn btn-outline-primary btn-lg" role="button" href="#">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100"><img class="object-fit-cover w-100 d-block position-absolute h-100" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" style="z-index: -1;">
                <div class="container d-flex h-100 flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 offset-md-2">
                            <div style="max-width: 350px;">
                                <h1 class="text-uppercase fw-bold">Biben dum<br>fringi dictum, augue purus</h1>
                                <p class="my-3">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien, risus donec ad fusce augue interdum.</p><a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a><a class="btn btn-outline-primary btn-lg" role="button" href="#">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100"><img class="object-fit-cover w-100 d-block position-absolute h-100" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" style="z-index: -1;">
                <div class="container d-flex h-100 flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 offset-md-2">
                            <div style="max-width: 350px;">
                                <h1 class="text-uppercase fw-bold">Biben dum<br>fringi dictum, augue purus</h1>
                                <p class="my-3">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien, risus donec ad fusce augue interdum.</p><a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a><a class="btn btn-outline-primary btn-lg" role="button" href="#">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
        <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button></div>
    </div>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Heading</h2>
                <p>Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="d-flex p-3">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon"><i class="far fa-gem"></i></div>
                    <div class="px-2">
                        <h5 class="mt-1 mb-0" href="{% url 'account' %}">Suscipit varius potenti donec</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex p-3">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon"><i class="far fa-gem"></i></div>
                    <div class="px-2">
                        <h5 class="mt-1 mb-0">Suscipit varius potenti donec</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex p-3">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon"><i class="far fa-gem"></i></div>
                    <div class="px-2">
                        <h5 class="mt-1 mb-0">Suscipit varius potenti donec</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex p-3">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon"><i class="far fa-gem"></i></div>
                    <div class="px-2">
                        <h5 class="mt-1 mb-0">Suscipit varius potenti donec</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex p-3">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon"><i class="far fa-gem"></i></div>
                    <div class="px-2">
                        <h5 class="mt-1 mb-0">Suscipit varius potenti donec</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex p-3">
                    <div class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon"><i class="far fa-gem"></i></div>
                    <div class="px-2">
                        <h5 class="mt-1 mb-0">Suscipit varius potenti donec</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}