<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
    <h1>Descriere Proiect</h1>
    <br>
    <h2>1. index ('') [defapt home/home.hmtl ] </h2>
    <p>
        Este pagina principala a site-ului, contine 4 sectiuni:<br>
        - Navbar<br>
        - Carusel cu poze Produse <br>
        - Sectiune cu categorii <br>
        - footer<br>
    </p>
        <h2>Products</h2>
    <p>
        Contine-
    </p>
  <h1> Informatii server </h1>
    {mod}
</body>
</html>